If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [9]:
def sumtotal(below_x):
    sumtotal = []
    
    for x in range(1,below_x):
        if x%3 == 0 or x%5 == 0:
            sumtotal.append(x)
    
    return sum(sumtotal)

In [13]:
sumtotal(1000)

233168