In [41]:
def is_prime(num1):
    factors = 0
    if num1 == 1:        #1 is false
        return False
    elif num1 < 4:       #returns true on 2 & 3 
        return True
    elif num1%2 == 0:    #removes all evens (except 2 has already been added)
        return False
    elif num1 < 9:       #with 1,2,3,4,6,8 accounted for above, this catches 5 & 7 
        return True
    elif num1%3 == 0 or num1%5 == 0 or num1%7 == 0: #returns False for multiples of 3,5,7 which can't be prime if larger than 10
        return False
    elif factors == 0:
        for x in range(1,num1+1):
            if num1%x == 0:
                factors += 1
        if factors > 2:
            return False
        else:
            return True

In [42]:
def sum_prime(upper_limit):
    advance = True    #tracking prime_count.     
    count = 2
    check = 1          #tracking natural number count 
    
    
    
    while advance == True:
        if check > upper_limit:
            return count
        if is_prime(check) == True:
            count = count + check
            check += 2
        elif is_prime(check) == False:
            check += 2

In [49]:
sum_prime(10000)

5736396

In [24]:
test = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
sum(test)

76127

In [40]:
test2 = [1,2,3,4,5,6,7,8,9,10]

for i in test2:
    print(i)

1
2
3
4
5
6
7
8
9
10